body{
font-family: Arial, sans-serif;
background:#f5f5f5;
}


h2{

text-align:center;

}



#chat-box{


width:600px;

height:500px;

background:white;

margin:auto;

padding:20px;

overflow-y:auto;

border-radius:10px;

border:1px solid #ccc;


}



.user-message{


background:#007bff;

color:white;

padding:12px;

margin:10px;

border-radius:15px;

width:fit-content;

max-width:70%;

margin-left:auto;


}



.bot-message{


background:#e4e4e4;

color:black;

padding:12px;

margin:10px;

border-radius:15px;

width:fit-content;

max-width:70%;

margin-right:auto;


}




.input-area{


width:600px;

margin:20px auto;

display:flex;


}



input{


flex:1;

padding:12px;

font-size:16px;

}



button{


padding:12px 20px;

background:#007bff;

color:white;

border:none;

cursor:pointer;


}
